CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.aux
*.ps
*.log
*.dvi
*.tex~
report/optmas_submission/coal_gpu_optmas.aux

report/optmas_submission/coal_gpu_optmas.bbl

report/optmas_submission/coal_gpu_optmas.blg

report/optmas_submission/coal_gpu_optmas.dvi

report/optmas_submission/coal_gpu_optmas.log

report/optmas_submission/coal_gpu_optmas.pdf

report/optmas_submission/coal_gpu_optmas.synctex.gz
